<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../marce-visor/marce-visor.html">
<link rel="import" href="../login-component/login-component.html">
<link rel="import" href="../gestor-clientes-component/gestor-clientes-component.html">


<dom-module id="techupolymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <gestor-clientes-component></gestor-clientes-component>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechupolymerApp extends Polymer.Element {
      static get is() { return 'techupolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'techupolymer-app'
          },
          prop2: {
            type: Number,
            value: 777
          }
        };
      }
    }

    window.customElements.define(TechupolymerApp.is, TechupolymerApp);
  </script>
</dom-module>
