<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-component">
  <template>
    <style>
      :host {
        display: block;
      }
      h2.ok {
        color: green;
      } 
      h2.error {
        color: red;
      } 
    </style>
    <h1>Hola acceda con su usuario y clave!</h1>
    <h2 id="mensaje">{{mensaje}}</h2>
    <h3>Usuario:</h3>
    <input type="text" value="{{usuario::input}}">
    <h3>Clave:</h3>
    <input type="password" value="{{clave::input}}">
    <button on-click="hacerLogin">Acceder</button>
  </template>

  <script>
    /**
     * `login-component`
     * Login Component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginComponent extends Polymer.Element {
      static get is() { return 'login-component'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            value: ''
          },
          clave: {
            type: String,
            value: ''
          },
          mensaje: {
            type: String,
            value: ''
          }
        };
      }
      hacerLogin () {
        if (this.usuario == "marce" && this.clave == "1234") {
          this.mensaje = "Login OK";
          this.$.mensaje.classList.remove ("error");
          this.$.mensaje.classList.add ("ok")
        }
        else {
          this.mensaje = "Login KO"
          this.$.mensaje.classList.remove ("ok");
          this.$.mensaje.classList.add ("error")
        }
      }
    }

    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>
