<link rel="import" href="./bower_components/polymer/polymer-element.html">
<link rel="import" href="./bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor Clientes</h1>
        <button on-click="obtenerClientes">Obtener clientes</button>
      </div>
      <div class="row">
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes.value}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * `gestor-clientes-component`
     * Componente para la gestion de clientes
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GestorClientesComponent extends Polymer.Element {
      static get is() { return 'gestor-clientes-component'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes () {
        var request = new XMLHttpRequest ();
        request.open ("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse (request.responseText);
      }
      aniadirCliente () {
        var request = new XMLHttpRequest ();
        request.open ("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevocliente = {"CustomerID": "1234", "ContactName" : "Pepe", "CompanyName": "Pepes Bar"};
        

        request.send();
      }
    }

    window.customElements.define(GestorClientesComponent.is, GestorClientesComponent);
  </script>
</dom-module>
