<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="marce-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <h2>Te muestro el visor!!!!</h2>
        <div class="row">
          <img src="https://www.bbva.com/es/wp-content/uploads/2015/12/ciudad-bbva-general.jpg" alt="" width="[[prop1]]">
        </div>
        <div class="row"><button on-click="incrementar">Accion!!!</button></div>

        <div class="row">
      <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </thead>
      <tbody>
          <tr>
              <td>[[prop2]]</td>
              <td>Columna 2</td>        
              <td>Columna 3</td>
            </tr>
            <tr>
                <td>Columna 1</td>
                <td>Columna 2</td>        
                <td>Columna 3</td>
              </tr>
     </tbody>
    </table>
  </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MarceVisor extends Polymer.Element {
      static get is() { return 'marce-visor'; }
      static get properties() {
        return {
          prop1: {
            type: Number,
            value: 200
          },
          prop2: {
            type: Number,
            value: 100
          }
        };
      }
      incrementar() {
        this.prop2 = this.prop2 + 1;
      }
    }

    window.customElements.define(MarceVisor.is, MarceVisor);
  </script>
</dom-module>
